.LogoutPage-body {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
    font-size: 20px;
    text-align: center;
    font-family: 'Gaegu', cursive;
}

@media only screen and (max-width: 500px) {
    .LogoutPage-body{
        left: 0%;
        right: 0%;
        top: 20%;
        font-size: 16px;
    }

    .LogoutPage-body img {
        width: 250px;
    }
}