.MovieCard-body {
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  cursor: default;
  display: flex;
  flex-direction: column;
  border: 10px solid black;
  background-color: rgba(255, 174, 0, 0.911);
  background-image: linear-gradient(rgb(255, 223, 148), rgba(255, 174, 0, 0.911));
  margin: 20px;
  padding: 20px;
  align-items: center;
  width: 300px;
  height: 400px;
}

.MovieCard-title {
    font-weight: 700;
    font-size: 16px;
    margin: 5px 0;
}

.MovieCard-genre {
  text-transform: uppercase;
  margin-bottom: 5px;
}