.NavBar-header {
    margin: 30px;
    font-size: 20px;
    font-family: 'Gaegu', cursive;
}

.NavBar-links {
    float: right;
}

.NavBar-title {
    float: left;
}

.NavBar-image {
    margin-left: 120px;
}