.FavesPage-body {
  position: absolute;
  top: 25%;
  left: 5%;
  right: 5%;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.FavesPage-nomovies {
  margin: 200px auto;
  font-family: "Gaegu", cursive;
}

.FavesPage-filter select {
  font-family: "Gaegu", cursive;
  background-color: rgba(255, 174, 0, 0.911);
  background-image: linear-gradient(
    rgb(255, 223, 148),
    rgba(255, 174, 0, 0.911)
  );
  border-radius: 20px;
  padding: 5px 0;
  text-align: center;
}

.FavesPage-filter {
  display: flex;
  flex-direction: column;
  width: 20%;
  position: absolute;
  right: 5%;
  top: 18%;
  z-index: 1;
}

.FavesPage-filter label {
  font-family: "Gaegu", cursive;
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width: 670px) {
  .FavesPage-filter {
      width: 40%;
      font-size: 16px;
      margin-top: 10px;
  }
  .FavesPage-filter select {
    padding: 0;
  }

  .FavesPage-filter label {
    font-size: 16px;
  }
}