.Footer-body {
    font-size: 18px;
    position: fixed;
    bottom: 2%;
    width: 100%;
    text-align: center;
    font-family: 'Gaegu', cursive;
}

.Footer-name {
    font-size: 16px;
}

.Footer-notice {
    font-size: 12px;
}